{% extends "base.html" %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Я ЕБУ СОБАК</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
<!--           <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form> -->
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>ПРИВЕТ ПИДАРЫ!</h1>
        <p>Это моя тестовая страничка, которая хостится на хероку. На ней я рассказываю о своём пристрастии к собакам</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Причины</h2>
          <p>Причина создать свой собственный сайт о моей любви к собакам очень проста - люди должны знать, что ебать собак это нормально, все этим занимаются. Родители должны перестать говорить детям, что это аморально</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Цели</h2>
          <p>Я хочу чтобы все в этом мире начали ебать собак. Не давать человеку паспорт, пока он не выебет собаку. Секс с четвероногими друзьями должен преподаваться в школе</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Присоединяйся!!!</h2>
          <p>Отправь своё мыло и я пришлю тебе моё домашнее видео с таксой</p>
            <p>
              <form method="POST" action=''>{% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Join" class='btn btn-default' />
              </form>
            </p>

        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2017 "Моё очко" Company, Inc.</p>
      </footer>
    </div> <!-- /container -->


{% endblock content %}